html {
    font-size: calc(15px + 0.390625vw);
}

body {
    color: #606c76;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    min-height: 100vh;
    line-height: 1.5;
    font-weight: var(--default-font-weight);
}

footer {
    height: 32px;
    margin-top: 24px;
    background-color: var(--color-branding-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--default-font-weight);
    letter-spacing: -0.1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

p {
    font-size: 1em;
    margin-bottom: 0.5rem;
}


img {
    max-width: 100%;
}

code {
    background: #f4f5f6;
    border-radius: .4rem;
    font-size: 86%;
    margin: 0 .2rem;
    padding: .2rem .5rem;
    white-space: nowrap;
}

pre {
    margin-bottom: 0;
    background: #f4f5f6;
    border-left: 0.2rem solid #9b4dca;
    overflow-y: hidden;
}

pre>code {
    display: block;
    white-space: pre;
    padding: 1rem 0.5rem;
    font-size: 0.6rem;
}



.box {
    height: 150px;
    width: 100%;
}

.background-preview {
    width: 100%;
    height: 12rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background-preview>div:first-child {
    width: 6rem;
    height: 6rem;
}

.example-box {
    padding: 2rem 1rem;
    margin-bottom: 0.6rem; 
    font-weight: bold;
    font-size: 0.8rem;
}