:root {
    --color-header-text: #ffffff;
    --color-header-background: #5a4799;
    --color-header-hover: #888888;
    --color-header-active-background: #5386fe;
    --color-header-active-background: #869947;
}

body {
    margin: 0;
}

th {
    text-align: left;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    font-size: 1.4em;
}

table {
    margin-bottom: 1rem;
}

pre {
    margin-bottom: 0;
}

pre > code {
    padding: 1rem 0.5rem;
}

input[type="text"] {
    background-color: #ffffff;
}

.container {
    background-color: #ffffff;
}

.container-header {
    padding-left: 0;
    padding-right: 0;
    background-color: #ffffff;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-header-background);
}

.navbar li {
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.navbar li a {
    display: block;
    color: var(--color-header-text);
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

.navbar li input[type=text] {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    margin-left: 1em;
    border: 0.1rem solid #d1d1d1;
    margin-bottom: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar li input[type=text]:focus {
    border-width: 0;
    border: 1px solid #d1d1d1;
}

.navbar li input[type=submit] {
    display: inline-block;
    margin-bottom: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-left-radius: 0;
    background-color: var(--color-header-active-background);
    border-color: var(--color-header-active-background);
    border-bottom-left-radius: 0;
}

.navbar li input[type=submit]:hover {
    background-color: var(--color-header-hover);
    border-color: var(--color-header-hover);
}

.navbar li a:hover {
    background-color: var(--color-header-hover);
}

.navbar li a.active {
    font-weight: bold;
    background-color: var(--color-header-active-background);
}

ul.color-swatch {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul.color-swatch li {
    height: 100px;
    width: 100%;
    max-width: 75px;
    min-width: 48px;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

ul.color-swatch a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

ul.color-swatch a span {
    overflow: hidden;
}

@media only screen and (max-width: 583px) {
    ul.color-swatch a span{
        display: none;
    }
}



ul.color-swatch a:hover {
    color: #ffffff;
}

.box {
    height: 150px;
    width: 100%;
}

.background-preview {
    width: 100%;
    height: 22rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background-preview > div:first-child {
    width: 10rem;
    height: 10rem;
}

.example-box {
    padding: 2em 1em;
    font-weight: bold;
}