@{
    ViewData["Title"] = "Home";
    ViewData["ActivePage"] = "home";
}

<div class="row">
    <div class="column">
        <h1>Home</h1>
    </div>
</div>

<div class="row">
    <div class="column">
        1
    </div>
    <div class="column">
        2
    </div>
</div>


<div class="row">
    <div class="column">
        
    </div>
</div>



